{% extends 'base.html' %}

{% block body %}
<div class="entry">
    <br>
    <h2>{{ the_title }}</h2>
    <div>
        <p>
            Search for letters in a phrase of your choice. Letters default to vowels,
            but can be changed, too.
        </p>
        <p><b> If you enter a search and hit "Submit" your phrase, letters and the browser
        you used will be stored in a publicly available table. No potentially sensitive
        information like ip or username will be logged. By hitting "Submit" you agree
        to these terms.</b></p>
    </div>

    <form method='POST' action='/search4'>
      <div class="form-group">
        <label for="phrase">Phrase:</label>
        <input type="text" class="form-control" id="phrase" name='phrase'>
      </div>
      <div class="form-group">
        <label for="letters">Letters:</label>
        <input type="text" class="form-control" id="letters" name='letters' value="aeiou">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
